.App {
  padding: 30px;
  min-height: 100vh;
  background: gainsboro;
}

.search-box {
  min-height: 50px;
  display: flex;
  align-items: center;
  background: gray;
}

.timer-box {
  margin: 16px 0;
  padding: 8px;
  border-radius: 4px;
  background: white;
}

.item-box {
  display: flex;
  column-gap: 16px;
  width: 100%;
}

.collapse-box {
  width: 200px;
}

.item-list-box {
  flex: 1;
}